@media screen and (max-width: 500px) {
  /* p {
        font-size: 14px;
    } */
}
@font-face {
  font-family: "rubik";
  src: url("media/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "rubik-medium";
  src: url("media/Rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: "rubik-light";
  src: url("media/Rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: "rubik-bold";
  src: url("media/Rubik/Rubik-Bold.ttf");
}

body {
  font-family: "rubik";
  background-image: url("media/בואו נתחיל !.svg");
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl;
}

.button-start {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  /* ביטלנו absolute כדי שיהיה רספונסיבי */
  position: relative;
  font-weight: bold;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  top: 50vh;

  /* אופציונלי – אפקט חיבור קל בלחיצה */
  transition: transform 0.1s, box-shadow 0.1s;
}

.button-start:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* שינוי קטן עבור מסכים קטנים */
@media screen and (max-width: 500px) {
  .button-start {
    position: relative; /* ביטול absolute */
    display: block; /* כדי שיוכל להיות margin auto */
    margin: 5vh auto 0 auto; /* מרכז אופקי וגבוה יחסית */
    padding: 4%; /* התאמת גודל הכפתור */
    font-size: 14px; /* פונטים קטנים יותר */
    transform: none; /* ביטול translate */
  }
}

.bulb {
  visibility: hidden;
  width: 25vw; /* את יכולה לשנות את הגודל */
  height: 25vh; /* אם את רוצה שהן יהיו ריבוע */
  object-fit: contain;
  position: absolute; /* כדי שתוכלי למקם כל אחת */
}

#img1 {
  top: 38.5%;
  left: 76%;
}

#img2 {
  top: 46.4%;
  left: 50%;
}

#img3 {
  top: 40.3%;
  left: 25%;
}

#img4 {
  top: 42.8%;
  left: 1%;
}

#img1.on {
  left: 73%;
  top: 43%;
}
#img2.on {
  left: 47%;
  top: 50%;
}
#img3.on {
  left: 24%;
  top: 45%;
}
#img4.on {
  left: 0%;
  top: 46.7%;
}

.bulb.on {
  width: 30vw; /* מוגדל */
  height: 30vh;
}

.bulb-text {
  color: #000000;
  opacity: 0.41;
  font-weight: bold;
  text-align: center;
  position: absolute;
  font-size: x-small;
}

#text1 {
  top: 65%;
  left: 80.5%;
}
#text2 {
  top: 73%;
  left: 58%;
}
#text3 {
  top: 67%;
  left: 25%;
}
#text4 {
  top: 70%;
  left: 10%;
}

.textTitle {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 10%;
  right: 12vw;
  color: #fdf4d4;
}

.border-style {
  font-size: 13px;
  text-align: center;
  color: #fdf4d4;
  position: relative;
  top: 48vh;
  right: ;
  font-weight: bold;
  font-size: larger;
}

.balon {
  position: absolute;
  bottom: 0;
  right: 0vw;
  width: 50vw;
  height: 40vh;
}

.textDes {
  padding: 4vw;
  position: absolute;
  font-size: 15px;
  top: 20%;
  text-align: center;
  color: #fdf4d4;
  font-weight: bold;
}

.btn-part-style {
  color: #7f613e;
  border: 2px solid #7f613e;
  font-weight: bold;
  background-color: #fdf4d4;
  border-radius: 6px;
  font-size: 16px;
  font-family: "rubik", sans-serif;
  position: absolute;
  bottom: 20%;
  right: 36vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

/* .click-on-me {
  color: #7f613e;
  font-weight: bold;
} */

.light-Balon {
  width: 70vw;
  height: 60vh;
  position: absolute;
  right: 12%;
  bottom: 16%;
}
.btn-style {
  color: #7f613e;
  border: 2px solid #7f613e;
  font-weight: bold;
  background-color: #fdf4d4;
  border-radius: 6px;
  font-size: 16px;
  font-family: "rubik", sans-serif;
  position: relative;
  top: 65vh;
  right: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.title-part-style {
  color: #ef6f00;
  text-shadow: 1px 2px 0px #999;
  position: absolute;
  top: 10vh;
  right: 28%;
}

.text-part {
  text-align: center;
  padding: 7px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 20vh;
  right: 0%;
}

.motHarama {
  position: absolute;
  width: 55%;
  height: auto;
  left: 5%;
  top: 40%;
}

.arrowPart1 {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 40%;
  height: auto;
}

.arrowPart2 {
  position: absolute;
  left: 55%;
  top: 59%;
  width: 40%;
  height: auto;
}
.arrowPart3 {
  position: absolute;
  left: 42%;
  top: 32%;
  width: 40%;
  height: auto;
}

.arrowPart4 {
  position: absolute;
  left: 42%;
  top: 68%;
}

.Title {
  text-align: center;
  text-shadow: 1px 2px 0px #ef6f00;
  color: black;
  /* font-size: smaller; */
  font-weight: bold;
  /* left: 10%; */
}

.text-prep {
  text-align: center;
}

.wire {
  position: absolute;
  top: 77vw;
  left: 50%;
  transform: translateX(-50%);
  width:100vw;
  z-index: 10;
}
